.recoverPassword {
    text-align: center;
    position: relative;
    top: 200px;

}

.buttons{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
}

.cancel {
    margin-left: 20px;
}

.input {
    width: 200px;
}