<div class="recoverPassword">
    <form [formGroup]="recoverPassword" (ngSubmit)="http.forgotPassword(recoverPassword)">

        <div>{{'recoverPassword.title' | translate}}</div>

        <mat-form-field class="input">
            <input matInput placeholder="{{ 'registration.email' | translate }}" type="text" formControlName="email">

            <mat-error
                    *ngIf="(recoverPassword.get('email').hasError('email') || recoverPassword.get('email').hasError('required')) && recoverPassword.get('email').touched">
                {{'registration.emailWrong' | translate}}
            </mat-error>


            <mat-error
                    *ngIf="recoverPassword.get('email').hasError('emailExists') && recoverPassword.get('email').touched">
                {{ 'login.wrongEmail' | translate}}
            </mat-error>

        </mat-form-field>


        <div class="buttons">
            <div>
                <button [disabled]="!recoverPassword.valid" mat-raised-button color="primary"
                        type="submit">{{'recoverPassword.send' | translate}}</button>
            </div>

            <div class="cancel">
                <button mat-raised-button class="cancel"
                        routerLink="../login">{{'recoverPassword.cancel' | translate}}</button>
            </div>
        </div>
    </form>

</div>