<div class="changePass">
    <form [formGroup]="changePass" (ngSubmit)="http.changePassword(changePass)">

        <div>
            <mat-form-field>
                <input matInput placeholder="{{ 'passwordChange.passwordOld' | translate }}" formControlName="oldPass"
                       [type]="hideOld ? 'password' : 'text'">
                <mat-error *ngIf="changePass.get('oldPass').hasError('required') && changePass.get('oldPass').touched">
                    {{'registration.passwordInput' | translate}}
                </mat-error>
                <mat-error *ngIf="changePass.get('oldPass').hasError('minlength') && changePass.get('oldPass').touched">
                    {{'registration.passwordShort' | translate}}
                </mat-error>

                <button type="button" mat-icon-button matSuffix (click)="hideOld = !hideOld"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideOld">
                    <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="{{ 'passwordChange.passwordNew' | translate }}" formControlName="newPass"
                       [type]="hideNew ? 'password' : 'text'">
                <mat-error *ngIf="changePass.get('newPass').hasError('required') && changePass.get('newPass').touched">
                    {{'registration.passwordInput' | translate}}
                </mat-error>


                <mat-error *ngIf="changePass.get('newPass').hasError('minlength') && changePass.get('newPass').touched">
                    {{'registration.passwordShort' | translate}}
                </mat-error>

                <button type="button" mat-icon-button matSuffix (click)="hideNew = !hideNew"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideNew">
                    <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="{{ 'passwordChange.passwordRepeat' | translate }}"
                       formControlName="repeatPass"
                       [type]="hideRepeat ? 'password' : 'text'">
                <mat-error
                        *ngIf="changePass.get('repeatPass').hasError('required') && changePass.get('repeatPass').touched">
                    {{'registration.passwordInput' | translate}}
                </mat-error>


                <mat-error
                        *ngIf="changePass.get('repeatPass').hasError('minlength') && changePass.get('repeatPass').touched">
                    {{'registration.passwordShort' | translate}}
                </mat-error>

                <button type="button" mat-icon-button matSuffix (click)="hideRepeat = !hideRepeat"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideRepeat">
                    <mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" [disabled]="changePass.invalid"
                    type="submit">{{'passwordChange.button' | translate}}</button>
        </div>

    </form>
</div>
