<div class="external">

    <div class="someText">
        <div class="title">
            Waxom Multipurpose WordPress Theme
        </div>

        <div class="text">
            Don't Forget to Rate the Template. Thanks so much!
        </div>
    </div>

    <div class="videoFrame">

        <iframe #videoFrame
                id="ytplayer"
                type="text/html"
                autoplay="1"
                frameborder="0">
        </iframe>

    </div>

    <div *ngIf="showCarousel === true">


        <ngu-carousel class="carousel" #myCarousel [inputs]="carouselTileConfig" [dataSource]="carouselTileItems$">


                <ngu-tile *nguCarouselDef="let item; let i = index; let ani = animate">

                    <!-- [@slider]="ani" PLease this animation to this tile to see animation. stackblitz have error with animations -->
                    <div (click)="beginVideo(i)" class="tile" [style.background]="'url('+item+')'">

                        <img class="play" src="../../assets/img/1.png" alt="">

                    </div>

                </ngu-tile>

                <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
                <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>

                <ul class="myPoint" NguCarouselPoint>

                    <li *ngFor="let i of myCarousel.pointNumbers; let i = index"
                        [class.active]="i==myCarousel.activePoint"
                        (click)="myCarousel.moveTo(i)">
                    </li>

                </ul>


        </ngu-carousel>
    </div>


</div>
