<div class="secondPage">


    <div class="firstBlock">


        <div class="firstText">
            <div class="firstText__title">
                <p>Школа<br>
                    мебельных технологий<br>
                    "SOFT"</p>
            </div>

            <div class="firstText__text">
                <div>
                    Лучший способ обучиться дизайну и проектированию мебели - пройти онлайн курс обучения.
                </div>

                <div class="block">
                    <span class="bold">В программе курсов:</span>

                    <ul>
                        <li>изучение материалов для производства мебели и мебельной фурнитуры;</li>
                        <li>обучение основам дизайна;</li>
                        <li>работа с дизайнерскими программами по созданию мебели;</li>
                        <li>разработка и секреты проектирование всех типов корпусной мебели.</li>
                    </ul>

                </div>

                <div>
                    На <span class="color">курсах дизайна и проектирования мебели</span> я научу Вас создавать
                    собственный уникальный
                    дизайн мебели и
                    грамотно проектировать ее.
                </div>
                <div class="button">
                    <button mat-raised-button color="primary">Стать учасником</button>
                </div>
            </div>
        </div>
        <div class="foto">
            <img class="foto__firstFoto" src="../../assets/img/schoolFoto1.jpg" alt="">
            <p class="foto__text">Дмитрий Кирьянов, к.т.н.</p>
        </div>
    </div>

    <div class="secondBlock">

        <div class="foto">
            <img class="secondFoto" src="../../assets/img/schoolFoto2.png" alt="">
        </div>

        <div class="secondText">

            <div class="secondText__text">
                <p>
                    Я профессиональный военный. 24 года прослужил в Вооруженных Силах. Последние 3 года службы руководил
                    кафедрой в военном институте. Кандидат технических наук, старший научный сотрудник, автор большого
                    количества научных статей и изобретений.</p>
                <p>
                    Но настоящее мое увлечение и истинное призвание - это конструирование нового. Любимые материалы –
                    дерево и металл. Я более 15 лет проектирую и изготавливаю мебель своими руками. Последние 10 лет я
                    руковожу фирмой по изготовлению мебели.
                <p>
                    При этом я 9 лет в качестве руководителя провожу в своем городе курсы дизайнеров мебели.</p>
                <p>
                    На своих курсах я как опытный вузовский преподаватель даю просто и доступно только лучшее.
                </p>
                <p>
                    Второе направление нашего обучения – <span
                        class="color">курсы по изготовлению мебели своими руками.</span>
                </p>

                <div class="button">
                    <button mat-raised-button color="primary">Стать учасником</button>
                </div>
            </div>


        </div>


    </div>


</div>
