.fbLogin,  .login{
    margin-top: 240px;
    text-align: center;
}

.example-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
}

.example-container > * {
    width: 250px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.mat-form-field {
    display: unset;
}