<div class="bookPage">
    <div class="bookPage__text">
        <p>
            Параллельно своим курсам я собрал необходимый
            материал и готовлю выдать учебное пособие «Дизайн
            и проектирование мебели», которое планируется к изданию
            в начале 2020 года.
        </p>
        <p>
            Издание учебного пособия очень затратное дело. Поэтому
            уже сейчас можно сделать предзаказ и оплатить свой экземпляр.
            А после выхода учебного пособия оно будет разослано всем
            кто сделал предоплату.
        </p>

        <div class="button">
            <button mat-raised-button color="primary">Сделать предзаказ</button>
        </div>
    </div>

    <div class="bookPage__method">
        <div class="book">
            <p class="book__titleTop">Дизайн </p>
            <p class="book__titleBottom">
                и проектирование<br> мебели
            </p>

            <p class="book__bottom">Учебное пособие</p>
        </div>
    </div>

</div>
